<?xml version="1.0" encoding="UTF-8"?>

<hibernate-configuration>
	<session-factory>
 		<property name="hbm2ddl.auto"> 
 			update
 		</property>

		<property name="hibernate.dialect">
			org.hibernate.dialect.H2Dialect
		</property>

		<property name="connection.driver_class">
			org.h2.Driver
		</property>
		<property name="connection.url">
			jdbc:h2:tcp://localhost/~/MyDB
		</property>
		<property name="connection.username">
			sa
		</property>
		<property name="connection.password">
			sa
		</property>
		<mapping class="com.Student"/>

	</session-factory>
</hibernate-configuration>